// parts
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');

$bicolor : #e5005a;

// iPad 横以下
@mixin media-ipad-landscape {
  @media screen and (max-width: 991.98px) {
    @content;
  }
}
// iPad 縦以下
@mixin media-ipad-portrait {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}
// iPhone 以下
@mixin media-iphone {
  @media screen and (max-width: 575.98px) {
    @content;
  }
}

// common
body {
  background: #fff2f7;
}
ul, li {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

header {
  padding-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  h1 {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 4vw;
    @include media-iphone {
      font-size: 6vw;
    }
    .header-subI {
      width: 18vw;
      margin: auto 0 0;
      display: block;
      padding: 10px 15px;
      border-radius: 15px;
      font-size: 2.3vw;
      color: $bicolor;
      vertical-align: top;
      position: relative;
      transform: rotate(-5deg);
      @include media-iphone {
        width: 32vw;
        padding: 15px 5px;
        margin: auto 3vw 2vw;
        font-size: 4.5vw;
      }
      &::before {
        content: "";
        display: block;
        width: 0;
        height: 40px;
        border-left: 2px solid $bicolor;
        position: absolute;
        left: -10px;
        transform: rotate(-35deg);
        top: 10px;
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 40px;
        border-left: 2px solid $bicolor;
        position: absolute;
        right: -5px;
        transform: rotate(35deg);
        top: 5px;
      }
    }
    .header-point {
      color: $bicolor;
      font-family: 'Gugi', cursive;
      font-size: 6.5vw;
    }
  }
}
footer {
  padding-bottom: 5px;
  font-size: .4vw;
  color: #666;
  text-align: center;
}

// layout
.check-site-wrap {
  img {
    max-width: 100%;
  }
}

section {
  margin: 30px auto;
  padding: 45px 10vw;
  background: #fff;
  position: relative;
  @include media-iphone {
    padding: 45px 4vw;
  }
  h2 {
    margin-bottom: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 600;
    @include media-iphone {
      font-size: 6vw;
    }
  }
}
.watchpoint {
  background: $bicolor;
  margin-right: 30px;
  color: #fff;
  padding: 5px 20px;
  font-size: .5em;
  display: block;
  vertical-align: top;
  position: relative;
  @include media-iphone {
    padding: 5px 0 5px 8px;
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    margin-top: -20px;
    border: 20px solid transparent;
    border-left: 20px solid $bicolor;
    display: block;
    position: absolute;
    top: 50%;
    right: -40px;
  }
}

.sitelist {
  margin-top: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  &__box {
    width: calc(100%/4.1);
    padding: 5px 0;
    .thumb {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: ease 1s;
      &:hover {
        cursor: pointer;
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
    @include media-iphone {
      width: calc(100%/2.05);
    }
  }
  &__box.is-empty {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.companyinfo {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto auto 15px;
  justify-content: center;
  a {
    margin: auto 10px;
  }
}

@media (min-width: 992px) {
      .modal-lg, .modal-xl {
        max-width: 900px;
      }
  }

.modal-img_footer {
  padding: 0 10px 10px;
  text-align: center;
}

#svg-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
